<div class="row">
    <div class="span12">
      <div class="page-header">
        <h1>Add a Friend <small>Won't Your Friend Feel Lucky?</small></h1>
      </div>
  </div>
</div>

<div class="row">
  <div class="span12 bkgrd-smile">
      <form class="form-horizontal" method='post' action='/new'>
      <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
          <input type="text" id="name" name="name" placeholder="Name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="age">Age</label>
        <div class="controls">
          <input type="text" id="age" name="age" placeholder="Age">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="gender">Gender</label>
        <div class="controls">
          <input type="text" id="gender" name="gender" placeholder="Gender">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="image">Image</label>
        <div class="controls">
          <input type="text" id="image" name="image" placeholder="inputImage">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="twitter">Twitter</label>
        <div class="controls">
          <input type="text" id="twitter" name="twitter" placeholder="Twitter">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="github">Github</label>
        <div class="controls">
          <input type="text" id="github" name="github" placeholder="Github">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">

          <button type="submit" class="btn">Sign Up!</button>
        </div>
      </div>
    </form>
  </div>
</div>

