<!doctype html>
<html>
<head>
<title>RealTime&reg; Stock Quotes</title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/sports">Sports</a></li>
      <li><a href="/weather">Weather</a></li>
      <li><a href="/gossip">Gossip</a></li>
      <li><a href="/celebrity">Celebrity</a></li>
    </ul>
  </nav>
  <%= yield %>
  </body>
</html>